@model IEnumerable<btek.Models.AdPostModel>

@using WebMatrix.Data
@{
    var email = "";
    var User = System.Web.HttpContext.Current.User;
    if (Request.Cookies["EmailCookie"] != null)
    {
        email = Request.Cookies["EmailCookie"].Value;
    }
    var db = Database.Open("DefaultConnection");
    var conQuery = "SELECT IsContractor FROM AspNetUsers WHERE Email = '" + User.Identity.Name + "'";
    var result = db.QuerySingle(conQuery)[0];
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
<body class="portal">
    <div class="loginWrapper">
        <div class="col-md-8">
            <div class="header" style="margin-top: 3rem;">
                <h1>HELLO,</h1>
                <p style="font-size: 6vw;">@email</p>
            </div>
            @if (result == false || result == null)
            {
                <p class="postingsHeader">Your Postings</p>
                <section style="overflow:auto; height: 50vh;">
                    @if (Model != null)
                    {
                        foreach (var ad in Model)
                        {
                            if (ad.Email == email)
                            {
                                <div class="posting">
                                    <p class="postTitle">@ad.Description</p>
                                    <div class="adBottom">
                                        <p class="postId">Post ID: @ad.AdId</p>
                                        <p class="postDate">Post Date: @ad.Date</p>
                                    </div>
                                    <div class="buttons">
                                        <input type="submit" value="Edit" class="button" data-toggle="modal" data-target="#editModal" />
                                        <input type="submit" value="Delete" class="button" />
                                    </div>
                                </div>

                            }
                        }
                    }
                </section>

                <div class="submitBtn">
                    <input type="button" value="Post New Ad" class="button" onclick="location.href='/PostAd/Create'" />
                </div>
            }
            else
            {
                <p class="postingsHeader">Viewing Postings</p>
                <section style="overflow:auto; height: 50vh;">

                    @foreach (var ad in Model)
                    {
                        if (ad.Date > DateTime.Now.AddDays(-30))
                        {
                            <div class="posting">
                                <p class="postTitle">@ad.Description</p>
                                <div class="adBottom">
                                    <p class="postId">Price: $@ad.Price</p>
                                    <p class="postDate">Post Date: @ad.Date.ToShortDateString()</p>
                                </div>
                                <div class="buttons">
                                    <input type="submit" value="Contact" class="button" onclick="window.location='mailto:@ad.Email'" />
                                </div>
                            </div>
                        }
                    }
                </section>
            }
        </div>
    </div>

    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Post</h4>
                </div>
                <div class="modal-body">
                    <p>Here is where you edit the ad</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</body>