@model btek.Models.RegisterViewModel
@{
    ViewBag.Title = "sNOw More | Register";
}

<link rel="stylesheet" type="text/css" href="~/Content/Site.css">

<body class="portal">
    <div class="loginWrapper">
        <div class="header">
            <h1>CLIENT</h1>
            <p>REGISTRATION</p>
        </div>

        <div class="fields">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
             {
                @Html.AntiForgeryToken() 

                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })

                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })

            <div class="signIn">
                <input type="submit" value="Register" class="signInButton" />
            </div>
             }
              
               <div class="bottomLinks">
                        <a class="leftLink" href="#">I'm a Client</a>
                        <a class="rightLink "href="#">I'm a Contractor</a>
               </div>
        </div>
    </div>

   
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
